form, form input[type="text"],
form select, form textarea {
  border: 1px solid #D3D3D3;
}

* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

#app {
  margin: 60px 0;
}

.form-container {
  width: 70%;
  margin: 0 auto;
}

h1 {
  color: #696969;
  font-size: 1.5em;
  text-align: left;
}

form {
  text-align: left;
}

form * {
  margin: 3px 0;
}

form span {
  color: #B22222;
}

form fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  color: #696969;
  margin: 30px 20px;
}

form input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

form input[type="text"],
form select {
  width: 200px;
  height: 25px;
}

form textarea {
  height: 100px;
}
